<header class="header gradient--moonraker-remy">
  <div class="header-content">
    <button *ngIf="isMobile; else logo" mat-icon-button aria-label="Menu" (click)="menuToggle.emit()">
      <mat-icon>{{isMenuOpened ? 'close' : 'menu'}}</mat-icon>
    </button>

    <ng-template #logo>
      <app-logo *ngIf="!isMobile"></app-logo>
    </ng-template>

    <div class="btns-wrapper">
      <button
        *ngIf="isUserLoggedIn; else signIn"
        mat-flat-button color="primary" class="dark-button"
        (click)="onSignout()"
      >
        Sign out
      </button>

      <ng-template #signIn>
        <button
          *ngIf="!isUserLoggedIn"
          mat-flat-button color="primary" class="dark-button"
          (click)="onSignin()"
        >
          Sign In
        </button>
      </ng-template>
      <button mat-flat-button color="primary" class="gradient-button" (click)="onLivePsychics()">Live Psychics</button>
    </div>
  </div>
</header>
